.cssAnima {
  width: 200px;
  height: 200px;
  /* 兩個以上使用 inline-block;*/
  display: block;
  border: 1px solid red;
  /* 超出範圍隱藏 */
  overflow: hidden;


}

.cssAnima img {
  width: 100%;
  transition: all .3s linear;
}
.cssAnima img:hover {
  transform: scale(1.5);
} 