/* .card {
  display: flex;
  border: 1px solid;
  width: 90%;
align-items: center;
}

.item {
  width: 100%;

  border: 1px solid;
  text-align: center;
}

.counter {

  width: 100%;
  border: 1px solid;
  height: auto;

} */


.wrap {
  width: 80%;
  margin: 0 auto;

}

.row {
  display: flex;
  justify-content: space-around;

}

.col {
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
}

.row2 {
  display: flex;
}

.card-title {
  background-color: #ccc;
  border-radius: 10px 10px 0 0;
  padding: 5px 0;
  border-bottom: #ccc;

}

.card-body{
  display: flex;
  
}